@require "app/styles/charte"

/*
 * App
 */
#app
    background: $light-gray
    display: flex
    flex-direction: column
    font-family: Sans serif
    margin: 3em auto
    padding: 3em
    width: 500px

    &-title
        color: $gray
        font-size: 2em
        text-transform: uppercase

    &-button
        display: flex
        justify-content: space-around
