#counter
    &-votes
        font-size: 1.5em
        margin-bottom: 1em
        text-align: center

    &-reset
        margin: 1em 12em
        width: 6em
        height: 2em
        background: #3aa;
        border: 0;
        border-bottom: 3px solid #177;
        border-radius: 7px;
        color: #fff;
        text-transform: uppercase
